<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/main.css">
    <title>friendly baker</title>
</head>

<body>
<center><div class="topnav"></center>
<a href="#home">Home</a>
<a href="/about">about</a>
<a href="/contact">contact</a>

<div id="about"></div>


    <div class="wildflour">
        <center><img class="flour" src="wf.png"></center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class"location">
    <center><img class="wl" src="wfl.png"></center>
    <center><P>directions</p>
    <p>2691 Main Street
Lawrenceville, NJ 08648</p>
<p>609.620.1100</p>

<p>Call to reserve our dining room for small meetings or gatherings</p>
 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="footer">
  <p>Footer</p>
</body>

</div>