.flour {
    height: 470px;
    width: 75%;
    background-color: #C5C3C3;
}
.topnav a{
  color: #666363;
  overflow: hidden;
  text-decoration: none;
}
.topnav a:hover {
padding: 14px 16px;
background-color: #FFFFFF;
text-align: left;
font-size: 20px;
}
.row {
    display: flex;
  }
  #display{
    display: none;
  }
  #appear{
    display: none;
  }
  #show{
    display: none;
  }
.column {
    /* flex: 33.33%; */
    padding: 5px;
  
  }
  img{
      height: 350px;
      width: 350px;
  }
  .colums{ 
    margin-left: 10%;
    height: 25%;
    width: 25%;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666363;
    text-align: center;
 }